<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sahrial Ihsani Ishak</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/S.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/S.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') }}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.7.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Sahrial Ihsani Ishak</a></h1>
      <h2>I'm an <span>AI</span>, <span>Web</span> and <span>Android</span> Enthusiast</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>
    <!-- ======= Counts ======= -->
    <div class="counts container">
      <div class="row">
        <div class="col-lg-4 content" data-aos="fade-right">
          <img style="width:220px;height:220px" src="{{ url_for('static', filename='assets/img/saya.jpg') }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>AI, Web and Android Enthusiast</h3>
          <p class="fst-italic">
            Hello all!. I'm Sahrial. I interested in new tech about Machine Learning, Website and Android Development
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17 Juli 2000</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sahrialishak@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Bengkulu, Indonesia</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Informatic</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">PHP <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Kotlin <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Python <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Ruby <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interests</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <h3>Tensorflow</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <h3>Pytorch</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <h3>Keras</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <h3>React Native</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <h3>Flutter</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <h3>Flask</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <h3>CodeIgniter</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <h3>Laravel</h3>
          </div>
        </div>

    </div><!-- End Interests -->
      </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <p><em>a Freshgraduate of Informatics who is interested in AI, websites and Android and has experience working on AI products, websites and android applications.</em></p>
            <ul>
              <li>Bengkulu, Indonesia</li>
              <li>sahrialishak@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>SMAN 5 Bengkulu</h4>
            <h5>2015 - 2018</h5>
            <p><em>Bengkulu City, Indonesia</em></p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Informatics</h4>
            <h5>2018- 2022</h5>
            <p><em>University of Bengkulu</em></p>
            <p>Bengkulu, Indonesia</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Experience</h3>
          <div class="resume-item">
            <h4>Android Developer</h4>
            <p>
            <ul>
              <li>Mobile Developer at Kantor Bahasa Bengkulu, 2020</li>
              <li>Bangkit Academy led by Google, Tokopedia, Gojek, & Traveloka 2021</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Website Developer</h4>
            <p>
            <ul>
              <li>Website Developer at Sahabat Psikologi Bengkulu, 2020</li>
              <li>Website Developer at Central Bengkulu Agriculture Service, 2021</li>
              <li>Web developer at the village office of Rinduhati Central Bengkulu, 2021</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Machine Learning</h4>
            <p>
            <ul>
              <li>Machine Learning Facilitator at IDCamp Indosat Ooredoo 2021</li>
              <li>Machine Learning Participant at Lintasarta x Dicoding Scholarship, 2021</li>
            </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Achievements</h3>
          <div class="resume-item">
            <h4>2019</h4>
            <p>
            <ul>
              <li>3'rd Place in the National Mobile Apps Competition, Yayasan Plan Internasional Indonesia</li>
              <li>Outstanding Student at the Faculty of Engineering</li>
            </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <br>
          <br>
          <h3 class="resume-title"></h3>
          <div class="resume-item">
            <h4>2020</h4>
            <p>
            <ul>
              <li>Finalist of UIUX Android Competition, University of North Sumatra</li>
            </ul>
            </p>
          </div>
        </div>
          <div class="col-lg-6">
            <h3 class="resume-title"></h3>
            <div class="resume-item">
              <h4>2021</h4>
              <p>
              <ul>
                <li>Top 10 Machine Learning Path, Lintasarta x Dicoding Indonesia</li>
                <li>Silver Medal at IID (Indonesian Inventors Day)</li>
              </ul>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title"></h3>
            <div class="resume-item">
              <h4>2022</h4>
              <p>
              <ul>
                <li>4th Winner of National Scientific Writing Competition</li>
              </ul>
              </p>
            </div>
          </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Sed ut perspiciatis</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Android and ML</li>
            <li data-filter=".filter-card">Desktop and ML</li>
            <li data-filter=".filter-web">Web and ML</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img style="width:400px;height:260px" src="{{ url_for('static', filename='assets/img/portfolio/logo.png') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Cipede (Chili Pest Detection)</h4>
              <p>Android and ML</p>
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/logo.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Cipede (Chili Pest Detection)"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img style="width:400px;height:260px" src="{{ url_for('static', filename='assets/img/portfolio/logo kamus rejang indonesia.png') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Kamus Bahasa Rejang</h4>
              <p>Android and ML</p>
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/logo kamus rejang indonesia.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Kamus Bahasa Rejang-Indonesia"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img style="width:400px;height:260px" src="{{ url_for('static', filename='assets/img/portfolio/bkl.svg') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Hikayat Bengkulu</h4>
              <p>Android and ML</p>
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/bkl.svg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Hikayat Bengkulu"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img style="width:400px;height:260px" src="{{ url_for('static', filename='assets/img/portfolio/Background.png') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>DIREC</h4>
              <p>Desktop and ML</p>
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/Background.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="DIREC"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img style="width:400px;height:260px" src="{{ url_for('static', filename='assets/img/portfolio/tumor.png') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Minaracation Desktop</h4>
              <p>Desktop and ML</p>
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/tumor.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Minaracation Desktop"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img style="width:400px;height:260px" src="{{ url_for('static', filename='assets/img/portfolio/minaracation.png') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Minaracation Website</h4>
              <p>Web and ML</p>
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/minaracation.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Minaracation Website"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img style="width:400px;height:260px" src="{{ url_for('static', filename='assets/img/portfolio/rinduhati.png') }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web Desa Rindu Hati</h4>
              <p>Web and ML</p>
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/rinduhati.png') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web Desa Rindu Hati"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Perumahan Guru Bentiring, Bengkulu City, Indonesia</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://www.instagram.com/sahrial_ihsani/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/sahrial-ihsani-ishak-0509aa197/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>sahrialishak@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+62 823 7305 2455</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>